html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto&display=swap");

body {
  font:
    14px "Open Sans",
    sans-serif;
  line-height: 1.4em;
  background: #F3F7FA;
  color: #111111;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  user-select: none;
}


main {
  width: 100vw;
  height: auto;
  position: absolute;
  margin: 0 auto;

}

header {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}


.App {
  width: 100vw;
  margin: 0 auto;
  display: block;
}

.ticketsContent {
  justify-content: center;
  display: flex;
}


@media (max-width: 420px) {
  .ticketsContent {
    box-sizing: border-box;
    width: 100vw;
    display: block;
    flex-wrap: nowrap;
    margin: 0 0;
  }
}

@media (max-width: 420px) {
  .App {
    overflow-x: hidden;
  }
}