img {
  display: block;
  width: 80px;
  margin: 50px auto;
}

.img {
  width: 100px;

  margin: 0 auto;
}

@media(max-width:420px) {
  img {
    margin: 0 0;
    width: 60px;
  }

  .logostyle {
    width: 100vw;
  }
}